<h2>FORM TWO - <code>@Input() formGroup</code></h2>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="row">
        <label for="Form two - field 1">Main - field 1</label>
        <input type="text" formControlName="fieldTwo" class="" />
        <app-control-status [control]="formGroup?.controls.fieldTwo"></app-control-status>
    </div>

    value={{formGroup?.controls.fieldOne?.value}}, isGreaterThan2={{isGreaterThan2}}
    <ng-container *ngIf="isGreaterThan2">
        <div class="row">
            <app-child-two [formGroup]="formGroup?.controls.childTwo" (formGroupCreated)="childTwo()"></app-child-two>
        </div>
    </ng-container>
        
    <p>
        {{formStatus}}
    </p>
    
    <button type="submit">Submit</button>
</form>