{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "bracketSameLine": true,
        "printWidth": 150,
        "singleAttributePerLine": true
      }
    },
    {
      "files": "*.yml",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.js", "*.jsx"],
      "options": {
        "printWidth": 150
      }
    }
  ]
}
