<div class="app">
  <div class="app__available-books">
    <h1>Available books ({{numberOfAvailableBooks$ | async}})</h1>
    <app-book-list
      class="book-list"
      [books]="(books$ | async)!"
      (add)="onAdd($event)"
    ></app-book-list>
  </div>

  <div class="app__my-collection">
    <h1>My Collection ({{numberOfBooksInCollections$ | async}})</h1>
    <app-book-collection
      class="book-collection"
      [books]="(bookCollection$ | async)!"
      (remove)="onRemove($event)"
    >
    </app-book-collection>
  </div>
</div>
